In [1]:
from geopy.geocoders import ArcGIS
import pandas

In [2]:
df = pandas.read_csv('../98/supermarkets.csv')
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [3]:
nom = ArcGIS()

In [4]:
temp = []

In [5]:
df.loc[:,'Address':'State']

           Address           City             State
0     3666 21st St  San Francisco          CA 94114
1   735 Dolores St  San Francisco          CA 94119
2      332 Hill St  San Francisco  California 94114
3     3995 23rd St  San Francisco          CA 94114
4  1056 Sanchez St  San Francisco        California
5  551 Alvarado St  San Francisco          CA 94114

In [6]:
for row in range(len(df)):
#     print (', '.join(list(df.loc[row,'Address':'State'])))
    temp.append(nom.geocode(', '.join(list(df.loc[row,'Address':'State']))))

In [7]:
print(temp)

[Location(3666 21st St, San Francisco, California, 94114, (37.75644449321933, -122.42935314363206, 0.0)), Location(735 Dolores St, San Francisco, California, 94110, (37.75780079156327, -122.4255989188067, 0.0)), Location(332 Hill St, San Francisco, California, 94114, (37.75564146047075, -122.42879442062437, 0.0)), Location(3995 23rd St, San Francisco, California, 94114, (37.75298458728149, -122.4317017142651, 0.0)), Location(1056 Sanchez St, San Francisco, California, 94114, (37.75214375214958, -122.42975812603135, 0.0)), Location(551 Alvarado St, San Francisco, California, 94114, (37.753708506780676, -122.43325085636795, 0.0))]

In [8]:
longitude = []
latitude = []

In [9]:
for item in temp:
    print(item.latitude, item.longitude)
    longitude.append(item.longitude)
    latitude.append(item.latitude)

37.75644449321933 -122.42935314363206
37.75780079156327 -122.4255989188067
37.75564146047075 -122.42879442062437
37.75298458728149 -122.4317017142651
37.75214375214958 -122.42975812603135
37.753708506780676 -122.43325085636795

In [11]:
print(langitude, latitude)

[-122.42935314363206, -122.4255989188067, -122.42879442062437, -122.4317017142651, -122.42975812603135, -122.43325085636795] [37.75644449321933, 37.75780079156327, 37.75564146047075, 37.75298458728149, 37.75214375214958, 37.753708506780676]

In [12]:
df['Longitude'] = longitude
df['Latitide'] = latitude

In [13]:
df

,ID,Address,City,State,Country,Name,Employees,Langitude,Latitide
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,-122.429353,37.756444
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,-122.425599,37.757801
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,-122.428794,37.755641
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,-122.431702,37.752985
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,-122.429758,37.752144
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,-122.433251,37.753709